---
---

@import "main";
@import 'bootstrap/bootstrap';


.masthead {
  height: 100vh;
  min-height: 500px;
}

ul.social-buttons { margin-bottom: 0; }

ul.social-buttons li a { font-size: 20px; line-height: 50px; display: block; width: 50px; height: 50px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; color: #adb5bd; border-radius: 100%; outline: none; background-color: #212529; }

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover { background-color: #fed136; color: #000000; }


.list-group-item {
	width: 95%;
	margin: 1% !important;
}

@media (min-width: 576px) {
	.list-group-item {
		width: 47%;
		margin: 5px 1.5% !important;
	}
}

@media (min-width: 768px) {
	.list-group-item {
		width: 31.333%;
		margin: 5px 1% !important;
	}
}

@media (min-width: 992px) {
	.list-group-item {
		width: 23%;
		margin: 5px 1% !important;
	}
}

body {
  background: url("/assets/img/spookyhouse.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}

.well {
   background-color: rgba(16, 43, 56, .7);
}

.text-findme {
	color: #fed136;
}